<h1>Title: <%= @product.name %></h1>
<h2>Edit Comment ID: <%= @review.id %></h2>
<%= render partial: 'form', locals: { product: @product, review: @review, path: product_review_path(@product, @review) } %>